.root {
  position: relative;
}
.backBtn {
  position: absolute;
  background: none;
  border: none;
  left: -60px;
  top: 8px;
}

.currentStake {
  margin-right: 36px;
  padding: 24px 36px;
  background-color: #290f4d;
  border-radius: 16px;
  min-width: 332px;
  flex-shrink: 0;
  & > div {
    display: flex;
    justify-content: space-between;
    & > div:last-child {
      display: flex;
      align-items: baseline;
      margin-left: 30px;
      & > div:last-child {
        margin-left: 4px;
      }
    }
  }
}

.delegatePolicy {
  margin-bottom: 32px;
}

.head {
  padding: 0 8px;
  border-bottom: 1px solid #3f2a5d;
  margin-bottom: 24px;
}
.stakeToggle {
  display: flex;
  margin-top: 48px;
  height: 48px;
  border-radius: 8px;
  background: #281741;
  width: 224px;
  position: relative;
  label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.07px;
    color: rgba(#e1ccff, 0.48);
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: color 0.15s ease-in-out;
    &.active {
      color: #0c0417;
    }
  }
  input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
  }
}

.stakeToggleHandle {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  top: 0;
  background: #fd9369;
  border-radius: 8px;
  transition: transform 0.15s ease-in-out;
  &.right {
    transform: translateX(100%);
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

.gasFee {
  display: flex;
  justify-content: flex-end;
  margin-top: 36px;
  button {
    background: none;
    border: none;
    margin-bottom: 5px;
    div {
      text-transform: capitalize;
    }
  }
  & > div:last-child {
    margin-left: 25px;
    text-align: right;
  }
}

.amount {
  margin-top: 36px;
}
.amountAvailable {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-bottom: 15px;
  div:first-child {
    margin-right: 16px;
  }
}
.percentAmount {
  display: flex;
  padding: 8px;
  button {
    border: none;
    background: none;
    height: 40px;
    width: 72px;
    background: #7234c8;
    border-radius: 8px;
    color: #fff;
    padding-top: 1px;
    padding-left: 2px;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.gasModalInner {
  max-width: 382px;
  margin: 0 auto;
  & > div:last-child {
    margin-top: 56px;
  }
}

.gasFeeValue {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  justify-content: center;
  & > div:last-child {
    margin-left: 16px;
  }
}
.submitBtn {
  text-align: right;
  margin-top: 36px;
}
.desc {
  display: flex;

  margin-top: 36px;
  margin-bottom: 64px;
}

.email {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  text-decoration: none;
  svg {
    margin-right: 12px;
  }
}
