.address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8px;
  letter-spacing: 0.04px;
  line-height: 20px;
  color: #ab88de;
  text-align: center;
  &::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0c0417;
  }
}

.table {
  width: 100%;
  border-spacing: 0 4px;
  text-align: left;
  margin: 20px 0 48px;
  border-collapse: initial;
  tr {
    cursor: pointer;
    &:nth-child(even) {
      td {
        background: #281741;
      }
    }
  }
  tbody {
    tr {
      &:hover {
        td {
          background: #4e238e;
        }
      }
    }
  }
  th {
    padding: 24px;
    &:first-child {
      text-align: center;
    }
  }
  td {
    background: #1b0d2f;
    padding: 13px 24px;
    transition: background-color 0.15s ease-in-out;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}

.addressCell {
  display: flex;
  align-items: center;
  max-width: 410px;
  overflow: hidden;
  text-overflow: ellipsis;
  div {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.genesisBadge {
  background: #7234c8;
  border-radius: 2px;
  padding: 2px 8px;
  margin-right: 4px;
  white-space: nowrap;
  flex-shrink: 0;
}
.head {
  padding: 0 8px;
  border-bottom: 1px solid #3f2a5d;
  margin-bottom: 9px;
  margin-top: 27px;
}

.programDesc {
  padding-left: 16px;
}
