.address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8px;
  letter-spacing: 0.04px;
  line-height: 20px;
  color: #AB88DE;
  text-align: center;
  &::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0C0417;
  }
}

.table {
  width: 100%;
  border-spacing: 0 4px;
  text-align: left;
  margin-top: 36px;
  border-collapse: initial;
  tr {
    cursor: pointer;
    &:nth-child(even) {
      td {
        background: #281741;
      }
    }
  }
  tbody {
    tr {
      &:hover {
        td {
          background: #4E238E;
        }
      }
    }
  }
  th {
    padding: 24px;
    &:first-child {
      text-align: center;
    }
  }
  td {
    background: #1B0D2F;
    padding: 13px 24px;
    transition: background-color .15s ease-in-out;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}